*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Retina,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}
header{
    font-size: 17px;
}
.navigation-Bar{
    background-color: #1a0014;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    gap: 2em;
}
.navigation-Bar a{
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navigation-Bar svg{
    fill: #ff0e50;
    height: 1.1em;
    opacity: 1;
    margin-right: 0.4em;
    position: relative;
    width: 1.1em;
}
.navigation-Bar span{
    font-size: .8232026157rem;
    color: #f8f8f8;
}
.navigation-Bar span:hover{
    color: #ff0e50;
}
.main-Nav{
    background-color: #2c0022;
    color: #f8f8f8;
    padding: 0 15px;
    display: flex;
    height: 100px;
    align-items: flex-end;
}
.main-Nav a{
    height: auto;
    max-height: 80px;
    fill: #fff;
    margin-right: 0.5em;
}
.main-Nav__Logo svg{
    width: 100%;
    height: auto;
    max-height: 80px;
    fill: #fff;
}
.main-Nav__Links-Container{
    margin: 1.2em 1.2em 0.75em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-Nav__Links-Search{
    display: flex;
    justify-content: flex-end;
    font-size: .8232026157rem;
    gap: 1.2em;
}
.main-Nav__Links-Search p{
    display: flex;
    gap: .3em;
    align-items: center;
}
.main-Nav__Links-Search svg{
    width: 1.1em;
    height: 1.1em;
    vertical-align: text-bottom;
    cursor: pointer;
    fill: #f8f8f8;
}
.main-Nav__Links-Sections ul{
    display: flex;
    list-style: none;
    gap: 1.5em;
    margin: 1.5em 0 0;
}
