
@font-face {
    font-family: Retina;
    font-weight: normal;
    src: url(../Assets/Fonts/Retina-Book-subset.woff2);
}
@font-face{
    font-family: Retina;
    font-weight: bold;
    src: url(../Assets/Fonts/Retina-Bold-subset.woff2);
}

@font-face {
    font-family: Retina;
    font-weight: normal;
    font-style: italic;
    src: url(../Assets/Fonts/Retina-BookItalic-subset.woff2);
}
@font-face{
    font-family: Retina;
    font-weight: bold;
    font-style: italic;
    src: url(../Assets/Fonts/Retina-BoldItalic-subset.woff2);
}
@font-face {
    font-family: Register;
    font-style: normal;
    src: url(../Assets/Fonts/Register-Heavy-subset.woff2);
}
@font-face {
    font-family: Register;
    font-style: italic;
    src: url(../Assets/Fonts/Register-HeavyItalic-subset.woff2);
}

