
header{
    font-size: 19px;
    font-weight: 400;
}
.navigation-Bar{
    background-color: #1a0014;
    padding: 0 15px;
}
.navigation-Bar-Container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    gap: 2em;
    max-width: 1300px;
    margin: auto;
}
.navigation-Bar-Container a{
    max-width: 258px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navigation-Bar-Container svg{
    fill: #ff0e50;
    opacity: 1;
    margin-right: 0.2em;
    position: relative;
    width: 1em;
    height: 0.8em;
}
.navigation-Bar-Container span{
    font-size: .8232026157rem;
    color: #f8f8f8;
}
.navigation-Bar span:hover{
    color: #ff0e50;
}
.main-Nav{
    background-color: #2c0022;
}
.main-Nav-Container{
    color: #f8f8f8;
    padding: 0 15px;
    display: flex;
    height: 100px;
    max-width: 1300px;
    align-items: flex-end;
    margin: auto;
}
.main-Nav a{
    height: auto;
    max-height: 80px;
    fill: #fff;
    margin-right: 0.5em;
    line-height: 0;
}
.main-Nav__Logo svg{
    width: 100%;
    height: auto;
    max-height: 80px;
    fill: #fff;
    transform: translateY(5%);
}
.main-Nav__Links-Container{
    margin: 1.2em 0 0.75em;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.9em;
}
.main-Nav__Links-Search{
    display: flex;
    justify-content: flex-end;
    font-size: .8232026157rem;
    gap: 1.2em;
}
.main-Nav__Links-Search p{
    display: flex;
    gap: .3em;
    align-items: center;
    cursor: pointer;
}
.main-Nav__Links-Search svg{
    width: 1.1em;
    height: 1.1em;
    vertical-align: text-bottom;
    cursor: pointer;
    fill: currentColor;
    opacity: .5;
    margin-right: 0.2em;
}
.main-Nav__Links-Sections{
    display: flex;
    list-style: none;
    margin: 1.5em 0 0;
}
.section__item{
    margin-left: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.067em;
}
.section__item a{
    border-bottom: 4px solid transparent;
    padding-bottom: 0.2em;
    text-decoration: none;
    color: #f8f8f8;
}
.section__item a:hover{
    border-bottom-color: #ff0e50;
}
.social-navbar{
    padding: 0 15px;
    background-color: #1a0014;
}
.social-navbar-container{
    width: 1300px;
    padding: 0.6em 0 1.8em;
    margin: auto;
    color: #f8f8f8;
    display: flex;
    align-items: center;
    font-size: .6776625465rem;
    text-transform: uppercase;
    letter-spacing: .07em;
}
.social-nabar__strapline{
    text-decoration: none;
    color: #f8f8f8;
    opacity: 0.7;
    line-height: 1.5;
    cursor: pointer;
}
.social-nabar__strapline:hover{
    opacity: 0.5;
}
.strapline__logo{
    margin-right: 0.6em;
    fill: #ff0e50;
    width: 2.1em;
    height: 2.3em;
}
.social-navbar__media-list{
    padding: 0 0.6em 0 3em;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    gap: 0.7em 1.4em;
    text-transform: uppercase;
    letter-spacing: .07em;
    opacity: 0.7;
}
.social-navbar__media-list svg{
    padding: 0.2em;
    fill: #999;
    line-height: 0;
}
.social-navbar__media-list a:hover{
    opacity: 0.7;
}
